@model RecruitmentTask.Models.Customer

@{
    ViewBag.Title = "Index";
}

<h4 class="text-info">@TempData["message"]</h4>

@using (Html.BeginForm("Create", "Customer"))
{
    @Html.Partial("_CustomerForm", Model)

    <button type="submit" class="btn btn-primary">Create</button>
}